.terminal-window {
    width: 600px;
    height: 400px;
    /* background-color: #2d2d2d; */
    background-color: #2d2d2dac;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  
  .top-bar {
    background-color: #dcdcdc;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  
  .button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .red {
    background-color: #ff5f57;
  }
  
  .yellow {
    background-color: #ffbd2e;
  }
  
  .green {
    background-color: #27c93f;
  }
  
  .content {
    padding: 20px;
    color: white;
    font-family: monospace;
  }
  
  .content p {
    margin: 5px 0;
  }

  #emailInput {
    margin-bottom: 15px;
  }

  #arrow {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }

  #tildeIcon {
    width: 20px;
    height: 20px;
    margin-top: -3px;
    margin-left: -27px;
  }

  #emailPrec {
    color: white;
    margin-top: -2px;
    margin-left: 5px;
    font-family:Arial, Helvetica, sans-serif;
  }

  #emailText {
    color: rgb(25, 207, 25);
    margin-top: -3px;
    margin-left: -45px;
    font-weight: 500;
  }

  #enterEmail {
    color: rgb(181, 226, 228);
    margin-left: -100px;
    margin-top: -5px;
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blink {
    animation: blink 1s infinite;
    font-weight: bold;
    margin-left: 5px;
  }

  #emailInputField {
    background-color: #2d2d2d00;
    margin-left: 4px;
    color: aliceblue;
  }

  input {
    color: white; /* Set input text color to white */
    caret-color: grey; /* Set cursor color to grey */
  }

  input:focus {
    outline: none; /* Removes the default highlighting */
  }

  #userEmail {
    margin-left: -10px;
    margin-top: -2px;
    color: white;
  }

  #preName {
    color: white;
    margin-top: 15px;
    margin-left: 7px;
  }

  #userName {
    color: skyblue;
    margin-top: 15px;
    margin-left: -27px;
    font-weight: 500;
  }

  #enterName {
    color: rgb(181, 226, 228);
    margin-left: -100px;
    margin-top: -5px;
  }

  #inputName {
    margin-top: 20px;
  }

  #emailNameField {
    margin-left: 10px;
    background-color: #2d2d2d00;
  }

  #nameUser {
    color: white;
    margin-left: -80px;
    margin-top: -10px;
  }

  #prePassword {
    color: white;
    margin-top: 15px;
    margin-left: 5px;
  }

  #passwordLabel {
    color: skyblue;
    margin-top: 15px;
    margin-left: -22px;
    font-weight: 500;
  }

  #processComplete {
    color: white;
    margin-left: -400px;
    margin-top: 10px;
    font-family: Andale Mono;
  }

  #enterPassword {
    color: rgb(181, 226, 228);
    margin-left: -85px;
    margin-top: -4px;
  }

  .ticked {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  #tickedName {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: -8px;
  }

  #fullScreen {
    background: url("../../assets/photo-1497633762265-9d179a990aa6.webp");
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #encryptButton {
    margin-top: -30px;
  }

  #titleText {
    margin-top: -350px;
    margin-bottom: -350px;
  }
